<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive Analysis</title>
</head>
<body>
    <h1>Predictive Analysis</h1>
    <form method="POST">
        <label for="stock">Изберете акција:</label>
        <input type="text" id="stock" name="stock" placeholder="Внесете издавач (на пр. ALK)">
        <button type="submit">Предвиди</button>
    </form>

    {% if stock_name %}
        <h2>Резултати за {{ stock_name }}</h2>
        <ul>
            <li>Предвидена цена за 1 ден: {{ predictions['1_day'] }}</li>
            <li>Предвидена цена за 1 недела: {{ predictions['1_week'] }}</li>
            <li>Предвидена цена за 1 месец: {{ predictions['1_month'] }}</li>
        </ul>
    {% endif %}

    {% if error_message %}
        <h3 style="color: red;">{{ error_message }}</h3>
    {% endif %}
</body>
</html>
