body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('../images/back_image.png') no-repeat center center fixed;
    background-size: cover;
    background-position: bottom center;
    color: white;
}

.home-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    margin-top: 50px;
}

.custom-container {
    max-width: 400px;
    padding-left: 80px;
    padding-bottom: 160px;
    text-align: left;
    margin: 0;
}


.explore-section {
    text-align: left;
}

.explore-section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-align: left;
}

.options {
    list-style: none;
    padding: 0;
}

.options li {
    margin: 10px 0;
}

.options a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

.options a:hover {
    background-color: white;
    color: black;
}
.text-white{
    text-align: center;
}

table {
    margin-bottom: 30px;
}

canvas {
    margin-top: 20px;
    max-width: 100%;
}
