<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockInsight - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="home-container d-flex flex-column justify-content-between vh-100">
        <header class="text-center py-4 position-relative">
            <a href="/about-us" class="btn btn-outline-light position-absolute top-0 end-0 m-4">About Us</a>
            <h1 class="text-white">Your Gateway to Smarter </br>
                Investments</h1>
        </header>
        <div class="custom-container text-center">
            <h2 class="text-white mb-4">Explore:</h2>
            <ul class="list-unstyled">
                <li><a href="/technical-analysis" class="btn btn-outline-light mb-3 w-100">Technical Analysis</a></li>
                <li><a href="/fundamental-analysis" class="btn btn-outline-light mb-3 w-100">Fundamental Analysis</a></li>
                <li><a href="/predictive-analysis" class="btn btn-outline-light mb-3 w-100">Predictive Analysis</a></li>
                <li><a href="/historical-informations" class="btn btn-outline-light mb-3 w-100">Historical Informations</a></li>
                <li><a href="/top-traded-stocks" class="btn btn-outline-light mb-3 w-100">Top 10 Traded Stocks</a></li>
            </ul>
        </div>
        <footer class="text-center text-white py-4">
            <!-- Footer content -->
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
